@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL VARIABLES */
:root {
    --blue: #75bfc9;
    --white: #f0f1ec;
    --black: #2f3238;
    --yellow: #f3eaab;
    --green: #b8d9c0;
    --purple: #d6b4e3;
}

body {
    font-size: 18px; 
}

#body {}

@font-face {
    font-family: "BoldHeader";
    src: url("../public/fonts/KarnakPro-Medium.ttf");
}

#Jessica-Peng-div {
    background: var(--yellow);
    border: 3px solid var(--black);
    text-align: center;
    padding: 24px; 
    position: relative;
    margin-top: -5px;
}
@font-face {
    font-family: "Header";
    src: url("../public/fonts/KarnakPro-Light.ttf");
}

@font-face {
    font-family: "Paragraph";
    src: url("../public/fonts/Proxima-Nova-Regular.ttf");
}

h1, h2 {
    font-family: "BoldHeader";
}

h3, h4 {
    font-family: "Header";
}

#glossary {
    background: var(--yellow);
}

ul {
    list-style: inside; 
    margin: 12px; 
}
li {
    margin-left: 24px; 
}
#section-description {
    font-family: "Paragraph";
    padding: 12px 0 12px 0;
}

#section-toggle {
    background-color: var(--yellow);
    padding: 10px; 
    width: 100%;
    margin: 24px 0 24px 0; 
}

#move{
    /* background: linear-gradient(
        to right,
        #ff8e8e,
        #ff006a
    ) ; */
    height: 100px;
    aspect-ratio: 1;
    position: absolute;
    animation: dropDown 2s; 
}

#section-toggle:hover {
    background-color: var(--purple);
    color: var(--yellow);
}

#section-end {
    text-align: center;
}

#image-gallery-with-text-overlay {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item2 img {
    display: block;
    margin: auto;
    padding: 10px;
}

.item2 {
    flex-grow: 2;
    flex-basis: 250px;
}

.item2 p {
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    display: none;
}

button {
}

.item img {
    display: block;
    margin: auto;
    padding: 10px;
}

#clickable-image:hover {
    border: 3px solid var(--black);
}

.item {
    flex-grow: 2;
    flex-basis: 350px;
}

.item p {
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    display: none;
}

#social-media-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-media-link {
    filter: invert(12%) sepia(2%) saturate(4717%) hue-rotate(182deg) brightness(86%) contrast(77%);
}

.social-media-link:hover {
    filter: invert(97%) sepia(7%) saturate(1961%) hue-rotate(337deg) brightness(104%) contrast(91%);
}

section {
    padding: 24px;
}

#about-blurb {
    background-color: var(--yellow);
    border: 3px solid var(--black);
    padding: 16px; 
}

#header-text {
    /* position: absolute; 
    text-align: center; */
}

@keyframes dropDown {
    0% {
        bottom: 3em;
        opacity: 1;
    }

    50% {
        bottom: -2em;
    }

    100% {
        bottom: -5em;
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@keyframes jumpInfinite {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 20px;
    }

    100% {
        margin-top: 0;
    }
}

@keyframes backAndForth{
    0% {
        margin-left: -300px; 
    }
    100% {
        margin-left: 100vw; 
    }
}

.down-arrow {
    position: absolute;
    top: calc(100vh - 100px);
    left: calc(50% - 0px);
    width: 0;
    height: 30px;
    border: 2px solid;
    border-radius: 2px;
    animation: jumpInfinite 1.5s infinite;
    z-index: 2000;
}

.down-arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
}

.two-column-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 24px 0 24px 0;
  }

  .two-column-container-objective {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    border: 3px solid var(--black);
    border-radius: 10px; 
    padding: 12px; 
    flex-wrap: wrap;
    margin: 24px 0 24px 0;
  }
  
  .column {
    padding: 1rem;
    border-radius: 8px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
  }
  
  @media (max-width: 1024px) {
    .two-column-container {
      grid-template-columns: 1fr;
    }
  }

  .cloud {
    animation: backAndForth 30s;   
    animation-iteration-count: infinite;
  }

  #space {
    margin: 5px; 
  }
  
  #about-pics {
    width: 100%; 
  }
/* desktop nav bar */
#desktop-navbar {
    position: sticky;
    top: 0px;
    /* justify-content: left; */
    display: flex;
    /* Make a horizontal flexbox (the default) */
    flex-direction: row;
    background-color: var(--purple);
    padding: -5px;
    padding:0 24px 0 24px;
    z-index: 3000;
}

#desktop-navbar-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "BoldHeader";
    font-size: 36px; 
    margin-right: 36px; 
    animation: fadeIn 2s;
}

#desktop-navbar-right {
    justify-content: right;
    display: flex; 
    flex-direction: row;
    animation: fadeIn 2s;
}

.bio-pic-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#website-subheader {
    text-align: center;
    line-height: 1.25em;
    animation: fadeIn 2s;
}

#desktop-navbar-button {
    /* border: 3px solid var(--black); */
    padding: 8px;
    /* margin: 0px 72px 0px 72px; */
    color: var(--black);
    font-family: "BoldHeader";
    letter-spacing: 1px;
    margin-right: 48px; 
}

.cover-img-container {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

#desktop-navbar-button:hover {
    background-color: var(--yellow);
    cursor: pointer;
    transform: scale(1);
}

/* contact form */
/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 16px;
    /* Bottom margin */
    resize: vertical
        /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
#contact {
    border-radius: 5px;
    background-color: var(--yellow);
    padding: 20px;
    color: var(--black);
}

#Jessica-Peng {
    color: var(--black);
    letter-spacing: 10px;
    font-family: "BoldHeader";
    /* position: absolute; */
    /* z-index: 3000; */
}

#header {
    color: var(--black);
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: var(--purple);
    height: 75vh;
    justify-content: center;
    overflow: hidden;
}

#graphic-design {
    background-color: var(--white);
}

#cartoons {
    background-color: var(--white);
}

#fine-art {
    background-color: var(--white);
}

#footer {
    background-color: var(--purple);
    color: var(--black);
    text-align: center;
    display: flex;
    /* Make a horizontal flexbox (the default) */
    flex-direction: column;
}

#more-art {
    background-color: var(--white);
    margin-top: 0px;
}

#about {
    background-color: var(--white);
}

#ux-design {
    background-color: var(--white);
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
}

.image-box {
    position: relative;
}

.image-box:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: all 0.3s ease-in-out;
}

.bottom-left-image-title {
    position: absolute;
    bottom: 8px;
    left: 16px;
    display: none;
}


.image-box:hover div {
    display: block;
}

.image-box img {
    width: 100%;
    height: auto;
    transition: all 0.3s ease-in-out;
}

#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nav-links {
    padding: 20px;
    border: 3px solid var(--black);
    color: var(--black);
}

#nav-link {
    letter-spacing: 1px;
    background-color: #fafafa;
    margin: 15px;
    font-size: 12px;
    color: var(--black);
}

#nav-link:hover {
    cursor: pointer;
    color: black;
}

#nav-link:active {
    color: black;
}

#website-header-pic {
    width: 250px;
    height: auto;
    margin: 0 auto;
}

#graphic-design-project-card {
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 55px 35px;
    margin: 5px;
}

#graphic-design-project-image {
    padding: 5px;
    object-fit: cover;
    height: 100%
}

#graphic-design-project-title {
    font-size: 21px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

html {
    color: var(--black);
}

p {
    font-size: 18px;
    line-height: 22px;
    font-family: url(/public/fonts/Merriweather-Regular.ttf);
}

.hobby {
    text-align: center;
}

.hobby-pic {
    margin-top: 24px;
}

.glossary-term {
    background-color: yellow;
}

.list {
    padding: 24px;
    border: 1px dashed var(--blue);
    border-radius: 10px;
    margin: 12px;
}

#blurry-image {
    width: 80%;
    height: auto;
}

ul {
    list-style-position: outside;
}

.left-col {
    padding-right: 5px;
}

.right-col {
    padding-left: 5px;
}

.link {
    color: var(--pink);
}

.link:hover {
    color: var(--blue);
    cursor: pointer;
}

.footer {
    font-size: 14px;
    text-align: center;
    letter-spacing: 2.5px;
}

#footer-text {
    padding: 0px 0 24px 0;
}

#element1 {
    display: inline-block;
    margin-right: 20px;
}

#element2,
#element3 {
    display: inline-block;
    margin-right: 10px;
}

.cartoons-p {
    text-align: center;
}

#profile-image {
    margin: 0 auto;
}

#circular--square {
    height: 225px;
    width: 225px;
    border-radius: 50%;
    margin: auto;
}

#profile-pic {
    display: inline;
    margin: 0 auto;
    height: 80%;
    width: auto;
}

.prose .anchor {
    @apply absolute invisible no-underline;

    margin-left: -1em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
}

/*.anchor:hover {*/
/*  @apply visible;*/
/*}*/

/*.prose a {*/
/*  @apply transition-all decoration-neutral-400 dark:decoration-neutral-600 underline-offset-2 decoration-[0.1em];*/
/*}*/

.prose .anchor:after {
    @apply text-neutral-300 dark:text-neutral-700;
    content: '#';
}

.prose *:hover>.anchor {
    @apply visible;
}

.prose pre {
    @apply border border-neutral-800 bg-neutral-900;
}

.prose code {
    @apply text-neutral-800 dark:text-neutral-200 px-1 py-0.5 border border-neutral-100 dark:border-neutral-800 rounded-lg bg-neutral-100 dark:bg-neutral-900;
}

.prose pre code {
    @apply text-neutral-800 dark:text-neutral-200 p-0;
    border: initial;
}

.prose img {
    /* Don't apply styles to next/image */
    @apply m-0;
}

.prose> :first-child {
    /* Override removing top margin, causing layout shift */
    margin-top: 1.25em !important;
    margin-bottom: 1.25em !important;
}

code[class*='language-'],
pre[class*='language-'] {
    @apply text-neutral-50;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.prose .tweet a {
    text-decoration: inherit;
    font-weight: inherit;
}

table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
}

#portfolio-page {
    text-align: center;
    margin-top: 1.5em;
    padding: 50px 100px 50px 100px;
}

.prose .callout>p {
    margin: 0 !important;
}

[data-rehype-pretty-code-fragment] code {
    @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0 text-sm text-black;
    counter-reset: line;
    box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
    @apply py-1;
}

[data-rehype-pretty-code-fragment] [data-line-numbers]>.line::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1rem;
    margin-right: 1rem;
    text-align: right;
    color: var(--pink);
}

[data-rehype-pretty-code-fragment] .line--highlighted {
    @apply bg-slate-500 bg-opacity-10;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
    @apply relative;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
    @apply rounded-md bg-slate-500 bg-opacity-10 p-1;
}

[data-rehype-pretty-code-title] {
    @apply px-4 py-3 font-mono text-xs font-medium border rounded-t-lg text-neutral-200 border-[#333333] bg-[#1c1c1c];
}

[data-rehype-pretty-code-title]+pre {
    @apply mt-0 rounded-t-none border-t-0;
}

/*home page*/
.home {
    line-height: 85%;
    color: var(--pink);
    font-size: 16vh;
    font-weight: 900;
    margin-top: 1vh;
}

#centered-caption {
    text-align: center;
    margin: 0 auto;
}

#title {
    color: var(--pink);
}

h1 span span {
    position: relative;
    opacity: 0;
    animation: move-text 1s forwards;
}

@keyframes move-text {
    0% {
        bottom: 1em;
        opacity: 1;
    }

    50% {
        bottom: -0.5em;
    }

    100% {
        bottom: 0;
        opacity: 1;
    }
}

#home-subtitle {
    font-size: 5vh;
    font-weight: 900;
    animation: show-text 2s forwards;
    color: var(--purple);
}

@keyframes show-text {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#cursor {
    bottom: 20vh;
    position: absolute;
    opacity: 0;
    animation: run 2s;
    animation-iteration-count: 3;
    animation-delay: 2s;
    -webkit-animation-name: run;
    -webkit-animation-duration: 2s;
}

@keyframes run {
    0% {
        left: 30%;
        opacity: 0;
        transform: rotate(0deg);
    }

    50% {
        opacity: 1;
    }

    100% {
        left: 60%;
        opacity: 0;
        transform: rotate(50deg);
    }
}

.liljess {
    position: absolute;
    margin-left: -70px;
    width: var(--liljesswidth);
    bottom: 4vh;
    left: 0;
}

.img-body {
    width: var(--liljesswidth);
    /*height: auto;*/
}

.img-scooter {
    width: var(--liljesswidth);
}

.scooter {
    position: relative;
    z-index: 1;
    top: calc(-0.2 * var(--liljesswidth));
    left: -12%;
}

.body {
    position: relative;
    z-index: 2;
    left: -12%;
}

.body .eyebrows {
    height: 100%;
    position: absolute;
    background-color: black;
    width: 100%;
    transition: left 0.6s;
    left: 20%;
}

.body .eyebrows.right {
    left: 18%;
}

.body .eyebrow {
    z-index: 1;
    position: absolute;
    background-color: black;
    height: calc(0.0645 * var(--liljesswidth));
    width: calc(0.1129 * var(--liljesswidth));
    top: calc(-0.02 * var(--liljesswidth));
}

.body .eyebrow.one {
    left: 20%;
}

.body .eyebrow.two {
    left: 35%;
}

.body .pupils {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;
    transition: left 0.6s;
    left: 7%;
}

.body .pupils.right {
    left: 16%;
}

.body .pupil {
    background: black;
    border-radius: 50%;
    content: "";
    display: block;
    height: calc(0.016 * var(--liljesswidth));
    position: absolute;
    width: calc(0.016 * var(--liljesswidth));
    top: calc(0.12 * var(--liljesswidth));
}

.body .pupil.one {
    left: 30%;
}

.body .pupil.two {
    left: 45%;
}

.body .eyes {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: left 0.6s;
    left: 10%;
    top: calc(0.1 * var(--liljesswidth));
}

.body .eyes.right {
    left: 13%;
}

.body .eye {
    border-radius: 50%;
    display: block;
    position: absolute;
    background: white;
    height: calc(0.125 * var(--liljesswidth));
    width: calc(0.125 * var(--liljesswidth));
}

.body .eye.one {
    left: 25%;
}

.body .eye.two {
    left: 40%;
}

.mouth {
    position: relative;
    z-index: 1;
    top: calc(0.14 * var(--liljesswidth));
    left: 35%;
}

.img-mouth {
    width: calc(0.065 * var(--liljesswidth));
}

.ball-left {
    background-color: var(--blue);
    border-radius: 50%;
    height: calc(0.2 * var(--liljesswidth));
    overflow: hidden;
    position: absolute;
    width: calc(0.2 * var(--liljesswidth));
    margin-top: calc(-0.45 * var(--liljesswidth));
    z-index: 2;
}

.ball-right {
    background-color: var(--blue);
    border-radius: 50%;
    height: calc(0.2 * var(--liljesswidth));
    ;
    overflow: hidden;
    position: absolute;
    width: calc(0.2 * var(--liljesswidth));
    left: calc(0.57 * var(--liljesswidth));
    margin-top: calc(-0.45 * var(--liljesswidth));
    z-index: 2;
}

.ring {
    background: var(--pink);
    border-radius: 50%;
    height: calc(0.15 * var(--liljesswidth));
    position: absolute;
    width: calc(0.15 * var(--liljesswidth));
}

.ring:after {
    background-color: ghostwhite;
    border-radius: 50%;
    content: "";
    display: block;
    height: 33%;
    margin-top: -36%;
    margin-left: -36%;
    position: absolute;
    width: 33%;
    top: 50%;
    left: 50%;
}

.ring.one {
    margin-left: -40px;
    height: calc(.15 * var(--liljesswidth));
    width: calc(.15 * var(--liljesswidth));
    top: calc(.05 * var(--liljesswidth));
    left: 100%;
}

.instructions p {
    display: none;
    position: fixed;
    bottom: 20px;
}

#art-image {
    padding: 5px;
}

h1 {
    font-size: 72px;
    margin-bottom: -16px;
}

h2 {
    font-size: 48px;
    margin-bottom: -16px;
}

h3 {
    font-size: 36px; 
    margin-bottom: 0px; 
}

h4 {
    font-size: 24px; 
}

#navbar-mobile-menu {
    letter-spacing: 1px;
    border: 1px solid var(--yellow);
    text-align: center;
    width: 100%;
    padding: 15px 0 15px 0;
    font-family: "BoldHeader";
}

#navbar-mobile-links {
    border: 1px solid var(--yellow);
    border-top: none;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "BoldHeader";
}

#see-more-button {
    background-color: var(--black);
    color: var(--white);
    padding: 10px 20px 10px 20px; 
    border-radius: 5px; 
    border: 1px solid var(--black);
    margin: 10px; 
}

.see-more-button-container {
    display: flex; 
    flex-direction: row;
    justify-content: right;
}

#ceo-jess-background {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
}
#ceo-jess-background>* {
    /* flex: 1 1 160px; */
 }
#ceo-jess {
    width: 350px; 
    /* margin-top: -48px; */
}

#ceo-jess:hover {
    /* animation: fadeIn 2s;  */
}

#ceojess-navbar {
    width: 30px;
    height: auto;
}
.back-button-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
}

/*mobile*/
@media screen and (max-width: 960px) {

    .two-column-container-objective {
        display: grid;
        grid-template-columns: 1fr;
      }

    #header {
        height: 90vh;
    }
    #ceo-jess {
        margin-top: 48px; 
    }

    #Jessica-Peng-div {
        width: 100%;
        padding: 18px; 
    }
    .column {
        padding: 0;
    }
    section {
        padding: 24px;
    }

    #see-more-button {
        width: 100%;
    }
    .item2 {
        flex-basis: 150px;
    }

    .item img {
        padding: 5px 0 5px 0; 
    }

    .item2 img {
        padding: 5px; 
    }

    #header {
        margin-top: -100px;
    }

    .down-arrow {
        top: calc(100vh - 150px);
    }

    #social-media-links {
        transform: scale(.8);
    }

    #desktop-navbar {
        display: none;
    }

    hr {
        display: none;
    }

    #navbar-mobile {
        display: block;
        margin-bottom: 25px;
        background-color: var(--purple);
    }

    #navbar-desktop {
        display: none;
    }

    #website-header-pic {
        height: 150px;
        width: auto;
    }

    #nav-link {
        font-size: 16px;
        background-color: var(--purple);
    }

    html {
        padding: 0px;
    }

    #body {
        padding: 10px;
        border: none;
    }

    #portfolio-page {
        padding: 0px;
        margin-top: 0px;
    }

    #profile-image {
        width: 50vw;
    }

    h1 {
        font-size: 48px;
        line-height: 54px;
        margin-bottom: -10px;
    }

    h2 {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 0px;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
        margin-top: 20px;
    }

    .hobby-pic {
        height: 60vw;
        width: auto;
        margin: auto;
        margin-top: 24px;
    }

    #dots {
        display: none;
    }

    .ring.one {
        left: 160%;
    }
}

@media only screen and (max-width: 912px) {
    :root {
        --liljesswidth: 40vw;
    }

    .instructions p {
        display: block;
    }

    #cursor {
        display: none;
    }

    .ring.one {
        left: 90%;
    }
}

@media only screen and (min-width: 960px) {
    #navbar-mobile {
        justify-content: center;
        display: none;
    }
}

#review1 {
    display: inline-block;
    margin: 5px;
}

#website-header {
    color: grey;
    font-size: 18px;
    text-align: center;
    margin: 25px;
    letter-spacing: 2.5px;
}

#navbar-desktop {
    position: sticky !important;
    top: 30px;
    height: 10px;
    width: 100px;
    z-index: 2000;
}

#navbar-desktop-link {}

#rowContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button {
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #4a4d54;
    color: white;
    border: 1px solid #4a4d54;
    border-radius: 10px;
}

#desktop-header {
    height: 100vh;
    overflow: scroll;
}

#button:hover {
    color: #4a4d54;
    background-color: white;
}

#sticky-header {
    position: sticky;
    top: 0;
    padding: 10px;
    text-align: center;
}